/*! Forked from modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/******************************************************************************
  FONTS
******************************************************************************/



/******************************************************************************
  VARIABLES
******************************************************************************/
:root {
    --color-primary: rgb(65, 198, 231); /* duplicated in main.scss for bulma */
    --color-black: black;
    --color-blue: hsl(258, 84%, 48%);
    --color-blue-transparent: hsla(258, 84%, 48%, 0.2);
    --color-dark-grey: hsl(0, 0%, 14%);
    --color-green: hsl(141, 71%, 48%);
    --color-medium-grey: hsl(0, 0%, 21%);
    --color-orange: hsl(33, 99%, 54%);
    --color-orange-transparent: hsla(33, 99%, 54%, 0.2);
    --color-pink: hsl(350, 100%, 74%);
    --color-pink-transparent: hsla(350, 100%, 74%, 0.2);
    --color-purple: hsl(280, 84%, 48%);
    --color-purple-transparent: hsla(280, 84%, 48%, 0.2);
    --color-red: hsl(348, 100%, 61%);
    --color-yellow: hsl(48, 100%, 67%);
    --color-yellow-transparent: hsla(48, 100%, 67%, 0.2);
    --color-white: white;
}



/*****************************************************************************
  ALL
******************************
  *, @viewport, ::selection
******************************************************************************/
::-moz-selection { 
    background: var(--color-primary);
    color: var(--color-black);
}

::selection { 
    background: var(--color-primary);
    color: var(--color-black);
}



/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
body {
    font-family: 
        'Ubuntu',
        'Segoe UI',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 20px;
    font-variant-numeric: oldstyle-nums;
}

main.container {
    margin-bottom: 2em;
}

p {
    -webkit-hyphens: auto;
            hyphens: auto;
}

blockquote {
    line-height: 1.3em;
}

blockquote cite {
    margin-top: 1em;
    text-align: right;
}

summary {
	display: list-item;
}

details {
	display: block;
}



/******************************************************************************
  HEADINGS
************
  hgroup, h1, h2, h3, h4, h5, h6
******************************************************************************/
h1,
h2 {
    font-variant-numeric: lining-nums;
}



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/


/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, audio, video, track, map, area, iframe
******************************************************************************/



/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output
******************************************************************************/



/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/
.content table {
    width: initial;
}

table .number-column {
    text-align: right;
}



/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span
******************************************************************************/
abbr[title] {
	text-decoration: underline dotted;
}

q::before {
    content: attr(data-name) ': ' open-quote;
}

q {
    background-color: var(--color-medium-grey);
    border-radius: 10px;
    display: table;
    padding: 0em 0.2em;
}

cite::before {
    content: '– '
}

cite i {
    font-style: normal;
}



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/



/******************************************************************************
  HELPER CLASSES
******************************************************************************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.glow {
    text-shadow: 0 0 5px var(--color-white), 0 0 10px var(--color-primary);
}


/******************************************************************************
  STRUCTURE CLASSES
******************************************************************************/
.hero.is-primary,
.navbar.is-primary {
    text-shadow: black 0px 0px 3px;
}

.hero-body a,
.hero-foot a,
footer.footer a {
    color: var(--color-white);
}

.hero-body a:hover,
.hero-foot a:hover,
footer.footer a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.hero-foot {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.navbar-brand img {
    max-height: 65px;
}

main > h1 {
    margin-top: 1em;
}

main > .content {
    margin: 2em 0;
}

main .hero {
    margin-bottom: 1.5rem;
}



/******************************************************************************
  HOME CLASSES
******************************************************************************/
.home .recommendations,
.home .historical-record,
.home .stats {
    margin-bottom: 4em;
}

.home .recommendations .notification {
    height: 100%;
}

.home .recommendations .notification:hover {
    opacity: 0.75;
}

.notification.is-warning h2 {
    color: var(--color-black);
}



/******************************************************************************
  SEARCH CLASSES
******************************************************************************/
.search-bar {
    max-width: 20em;
}

.search-results {
    list-style-type: none;
}



/******************************************************************************
  CARD CLASSES
******************************************************************************/
.card-footer a {
    line-height: 1;
}

.range-card-footer-item .card-footer-item-icon,
.range-card-footer-item a {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.range-card-footer-item a {
    width: 100%;
}



/******************************************************************************
  EPISODE CLASSES
******************************************************************************/
.episode-content div {
    margin-bottom: 2em;
}

.episode-content .message-header .title {
    margin-bottom: 0;
}

.episode-nav {
    margin-top: 3em;
}

.episode-recommendation,
.spoilers,
.episode-secondary-metadata,
.episode-content p,
.episode-content ol,
.episode-content ul,
.episode-content blockquote,
.episode-content .quote {
    max-width: 45rem;
}

.episode-recommendation {
    margin-bottom: 1.5em;
}

.tabs ul {
    align-items: baseline;
    margin-left: 0;
}

.tabs a:hover {
    background-color: var(--color-primary);
}

.content .tabs li + li {
    margin-top: 0;
}

.top-five {
    margin-top: 2em;
}

.top-five .column {
    flex-grow: 0.5;
}

.top-five a {
    color: var(--color-white);
    text-decoration: underline;
}

.archivist-note {
    margin-top: 6em;
}

a.tag.timestamp.is-rounded {
    border-radius: 30px 0 0 30px;
    text-shadow: black 0px 0px 2px;
}

a.timestamp:hover {
    text-decoration: none;
    opacity: 0.75;
}


/******************************************************************************
  EPISODE LIST CLASSES
******************************************************************************/
.episode-list .card {
    margin-bottom: 2em;
}

.episode-list .card-content a {
    color: var(--color-white);
    text-decoration: underline;
}

.episode-list .recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    
.episode-list .card-header-title a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}

.episode-list .card-header-title a {
    color: var(--color-white);
}

.episode-list .card-header-icon {
    justify-content: left;
}

.episode-list .card-footer a:hover {
    background-color: var(--color-medium-grey);
}


@media (max-width: 768px) {
    .episode-list .card-header {
        flex-direction: column;
    }

    .episode-list .card-header-title {
        padding: 0.75rem 0.75rem 0 0.75rem;
    }

    .episode-list .card-header-icon {
        padding: 0 0.75rem 0.75rem 0.75rem;
    }
}


/******************************************************************************
  EPISODE FILTER CLASSES
******************************************************************************/
.navbar.episode-filter {
    border: none;
}

.episode-filter input[type=radio] {
    height: 1.5em;
    width: 1.5em;
}

.sort-button-container {
    position: relative;
}

.sort-button-container .feather-button {
    position: absolute;
    top: 25%;
}

@media (max-width: 768px) {
    .columns.episode-filter-container {
        margin-bottom: 2em;
    }
}



/******************************************************************************
  CATEGORY CLASSES
******************************************************************************/
.category-countdown::after,
.category-feedback::after,
.category-literature::after,
.category-main-topic::after,
.category-news::after,
.category-philosophy::after,
.category-review::after,
.category-theology::after {
    padding-left: 3px;
}

.category-countdown::after {
    content: '🚀';
}

.category-feedback::after {
    content: '📪';
}

.category-literature::after {
    content: '📚';
}

.category-main-topic::after {
    content: '🌌';
}

.category-news::after {
    content: '📰';
}

.category-philosophy::after {
    content: '💭';
}

.category-review::after {
    content: '👍';
}

.category-theology::after {
    content: '⛪';
}



/******************************************************************************
  ARCHIVIST/HOST CLASSES
******************************************************************************/
.archivist {
    background-color: var(--color-primary);
    color: var(--color-black);
}

.ben {
    background-color: var(--color-blue);
}

.matt,
.roger {
    background-color: var(--color-orange);
}

.koby h3 {
    color: var(--color-black);
}

.daniel {
    background-color: var(--color-purple);
}

.koby {
    background-color: var(--color-pink);
    color: var(--color-black);
}


.title.Ben {
    color: var(--color-blue);
}

.title.Matt {
    color: var(--color-orange);
}

.title.Daniel {
    color: var(--color-purple);
}

.title.Koby {
    color: var(--color-pink);
}


.card.Ben .card-header {
    background-color: var(--color-blue-transparent);
}

.card.Matt .card-header {
    background-color: var(--color-orange-transparent);
}

.card.Daniel .card-header {
    background-color: var(--color-purple-transparent);
}

.card.Koby .card-header {
    background-color: var(--color-pink-transparent);
}



/******************************************************************************
  QUOTE CLASSES
******************************************************************************/
.quote {
    margin-bottom: 1em;
}

.quote-context {
    border-radius: unset;
    margin: -4px;
}

.quote-context:empty {
    display: none;
}

q.inline {
    display: inline;
}

q.archivist a {
    color: var(--color-white);
    text-decoration: underline;
}

q.archivist::before {
    content: 'Archivist: ';
}

q.archivist::after {
    content: '';
}

.quote q.archivist {
    margin-top: 1em;
    display: inline-block;
}

q.ben::before {
    content: 'Ben: ' open-quote;
}

q.matt::before {
    content: 'Matt: ' open-quote;
}

q.roger::before {
    content: 'Roger: ' open-quote;
}

q.daniel::before {
    content: 'Daniel: ' open-quote;
}

q.koby::before {
    content: 'Koby: ' open-quote;
}



/******************************************************************************
  PROPHECY CLASSES
******************************************************************************/
.prophecy {
    display: flex;
    max-width: 650px;
    margin-bottom: 1em;
}

.prophecy a {
    color: var(--color-white);
    text-decoration: underline;
}

.prophecy header,
.prophecy .prediction,
.prophecy .veracity {
    flex-grow: 1;
    margin-bottom: 0;
    padding: 10px;
}

.prophecy header {
    border-radius: 7px 0 0 7px;
    color: var(--color-white);
    flex-basis: 12%;
}

.prophecy .host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prophecy .prediction,
.prophecy .veracity {
    background-color: var(--color-medium-grey);
    flex-basis: 44%;
}

.box .prophecy .prediction,
.box .prophecy .veracity {
    background-color: var(--color-black);
}

.prophecy .veracity {
    border-radius: 0 7px 7px 0;
}

.prophecy .veracity.true {
    background-color: var(--color-green);
}

.prophecy .veracity.false {
    background-color: var(--color-red);
}


/******************************************************************************
  REVIEW CLASSES
******************************************************************************/
.review {
    max-width: 300px;
}

.review header {
    background-color: var(--color-dark-grey);
    border-radius: 7px 7px 0 0;
    color: var(--color-white);
    text-align: center;
}

.review .rating {
    text-align: center;
    width: 50%;
}

.review div:first-of-type {
    border-radius: 0 0 0 7px;
    float: left;
}

.review div:last-of-type {
    border-radius: 0 0 7px 0;
    float: right;
}

.review q {
    border-radius: 0;
}

.episode-content .rating {
    margin-bottom: 0;
}

div[data-rating='yes']::after {
    content: '👍';
}

div[data-rating='no']::after {
    content: '👎';
}

div[data-rating='interested']::after {
    content: '🤔';
}

div[data-rating='uninterested']::after {
    content: '😴';
}

div[data-rating='dont-know']::after {
    content: '❓';
}



/******************************************************************************
  STATS CLASSES
******************************************************************************/
.hosts .card {
    margin-bottom: 2em;
}

.standalone-stat {
    margin-bottom: 2em;
}



/******************************************************************************
  SEASONS CLASSES
******************************************************************************/
.season-list {
    margin-top: 2em;
}

.season-list .card {
    margin-bottom: 2em;
}

.season-nav {
    margin-top: 3em;
}

.season-stats {
    margin-top: 2em;
}



/******************************************************************************
  SERIES CLASSES
******************************************************************************/
.series-list {
    margin-top: 2em;
}

.series-list .card {
    margin-bottom: 2em;
}



/******************************************************************************
  ICON CLASSES
******************************************************************************/
.feather {
    fill: none;
    height: 24px;
    width: 24px;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2;
}

footer.footer .feather {
    height: 16px;
    width: 16px;
}

.feather.is-large {
    height: 36px;
    width: 36px;
}

.feather-button {
    cursor: pointer;
    opacity: 0.75;
}



/******************************************************************************
  STYLE GUIDE CLASSES
******************************************************************************/
.swatch {
    float: left;
    padding: .75em;
    margin-right: .25em;
    margin-bottom: .25em;
    border-radius: 5px;
}

.swatch.black {
    border: solid 1px white;
}

.swatches .notification {
    margin-bottom: .25em;
}



/******************************************************************************
  MEDIA QUERIES
******************************************************************************/



/******************************************************************************
  PRINT STYLES
******************************************************************************/
