/*! Forked from modern-normalize | MIT License | https://github.com/sindresorhus/modern-normalize */

/******************************************************************************
  FONTS
******************************************************************************/



/******************************************************************************
  VARIABLES
******************************************************************************/
:root {
    --color-black: black;
    --color-blue: hsl(218, 75%, 54%);
    --color-dark-grey: hsl(0, 0%, 14%);
    --color-green: hsl(141, 71%, 48%);
    --color-medium-grey: hsl(0, 0%, 21%);
    --color-orange: hsl(33, 99%, 54%);
    --color-orange-transparent: hsla(33, 99%, 54%, 0.2);
    --color-pink: hsl(350, 100%, 74%);
    --color-pink-transparent: hsla(350, 100%, 74%, 0.2);
    --color-purple: hsl(280, 84%, 48%);
    --color-purple-transparent: hsla(280, 84%, 48%, 0.2);
    --color-red: hsl(348, 100%, 61%);
    --color-yellow: hsl(48, 100%, 67%);
    --color-yellow-transparent: hsla(48, 100%, 67%, 0.2);
    --color-white: white;
}



/*****************************************************************************
  ALL
******************************
  *, @viewport
******************************************************************************/




/******************************************************************************
  SECTIONING AND STRUCTURING
******************************
  html, body, header, footer, nav, main, article, aside, section, p, pre,
  blockquote, figure, figcaption, address, summary, details, div
******************************************************************************/
body {
    font-family: 
        'Ubuntu',
        'Segoe UI',
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji',
        'Segoe UI Symbol';
    font-size: 20px;
    font-variant-numeric: oldstyle-nums;
}

p {
    -webkit-hyphens: auto;
            hyphens: auto;
}

summary {
	display: list-item;
}

details {
	display: block;
}



/******************************************************************************
  HEADINGS
************
  hgroup, h1, h2, h3, h4, h5, h6
******************************************************************************/
h1,
h2 {
    font-variant-numeric: lining-nums;
}



/******************************************************************************
  LISTS
*********
  ul, ol, li, dl, dt, dd, menu, menuitem
******************************************************************************/


/******************************************************************************
  MEDIA
*********
  canvas, object, embed, img, audio, video, track, map, area, iframe
******************************************************************************/



/******************************************************************************
  FORMS
*********
  form, fieldset, legend, label, input, button, select, optgroup, option, 
  datalist, textarea, output
******************************************************************************/



/******************************************************************************
  TABLES
**********
  table, caption, colgroup, col, thead, tfoot, tbody, tr, th, td
******************************************************************************/
table .number-column {
    text-align: right;
}



/******************************************************************************
  PHRASING
************
  a, strong, em, b, i, u, s, sup, sub, small, abbr, dfn, mark, del, ins, q, 
  cite, data, progress, time, meter, code, var, samp, kbd, keygen, bdi, bdo, 
  ruby, rt, rp, span
******************************************************************************/
abbr[title] {
	text-decoration: underline dotted;
}

sub,
sup {
    font-size: inherit;
    vertical-align: baseline;
}

sub { 
    font-variant-position: sub; 
}

sup { 
    font-variant-position: sup; 
}

q {
    background-color: var(--color-medium-grey);
    border-radius: 10px;
    display: table;
    padding: 0em 0.2em;
}



/******************************************************************************
  MISCELLANEOUS
*****************
  hr
******************************************************************************/



/******************************************************************************
  HELPER CLASSES
******************************************************************************/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/******************************************************************************
  STRUCTURE CLASSES
******************************************************************************/
.hero-body a,
.hero-foot a {
    color: var(--color-white);
}

.hero-body a:hover,
.hero-foot a:hover {
    text-decoration: underline;
    color: var(--color-blue);
}

.hero-foot {
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.navbar-brand img {
    max-height: 65px;
}

main > h1 {
    margin-top: 1em;
}

main > .content {
    margin: 2em 0;
}

main .hero {
    margin-bottom: 1.5rem;
}



/******************************************************************************
  HOME CLASSES
******************************************************************************/
.home .recommendations,
.home .historical-record,
.home .stats {
    margin-bottom: 4em;
}

.home .recommendations .notification:hover {
    opacity: 0.75;
}



/******************************************************************************
  SEARCH CLASSES
******************************************************************************/
.search-bar {
    width: 20em;
}

.search-results {
    list-style-type: none;
}



/******************************************************************************
  EPISODE CLASSES
******************************************************************************/
.episode-content div {
    margin-bottom: 2em;
}

.episode-content .message-header .title {
    margin-bottom: 0;
}

.episode-nav {
    margin-top: 3em;
}

.tabs ul {
    align-items: baseline;
    margin-left: 0;
}

.tabs a:hover {
    background-color: var(--color-blue);
}

.content .tabs li + li {
    margin-top: 0;
}

.top-five {
    margin-top: 2em;
}

.archivist-note {
    margin-top: 6em;
}



/******************************************************************************
  EPISODE LIST CLASSES
******************************************************************************/
.episode-list .card {
    margin-bottom: 2em;
}

.episode-list .card-content a {
    color: var(--color-white);
    text-decoration: underline;
}

.episode-list .recommendation {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.episode-list .card-header-title a:hover {
    text-decoration: underline;
    color: var(--color-blue);
}

.episode-list .card-header-title a {
    color: var(--color-white);
}

.episode-list .card-footer a:hover {
    background-color: var(--color-medium-grey);
}



/******************************************************************************
  EPISODE FILTER CLASSES
******************************************************************************/
.episode-filter {
    margin-bottom: 1em;
}

.episode-filter input[type=radio] {
    height: 1.5em;
    width: 1.5em;
}



/******************************************************************************
  CATEGORY CLASSES
******************************************************************************/
.category-countdown::after,
.category-feedback::after,
.category-literature::after,
.category-main-topic::after,
.category-news::after,
.category-philosophy::after,
.category-review::after,
.category-theology::after {
    padding-left: 3px;
}

.category-countdown::after {
    content: '🚀';
}

.category-feedback::after {
    content: '📪';
}

.category-literature::after {
    content: '📚';
}

.category-main-topic::after {
    content: '👽';
}

.category-news::after {
    content: '📰';
}

.category-philosophy::after {
    content: '💭';
}

.category-review::after {
    content: '👍';
}

.category-theology::after {
    content: '⛪';
}



/******************************************************************************
  ARCHIVIST/HOST CLASSES
******************************************************************************/
.archivist {
    background-color: var(--color-blue);
}

.ben {
    background-color: var(--color-purple);
}

.matt,
.roger {
    background-color: var(--color-orange);
}

.daniel {
    background-color: var(--color-yellow);
}

.koby {
    background-color: var(--color-pink);
}


.title.Ben {
    color: var(--color-purple);
}

.title.Matt {
    color: var(--color-orange);
}

.title.Daniel {
    color: var(--color-yellow);
}

.title.Koby {
    color: var(--color-pink);
}


.card.Ben .card-header {
    background-color: var(--color-purple-transparent);
}

.card.Matt .card-header {
    background-color: var(--color-orange-transparent);
}

.card.Daniel .card-header {
    background-color: var(--color-yellow-transparent);
}

.card.Koby .card-header {
    background-color: var(--color-pink-transparent);
}



/******************************************************************************
  QUOTE CLASSES
******************************************************************************/
q.inline,
q.archivist {
    display: inline;
}

q.archivist a {
    color: var(--color-white);
    text-decoration: underline;
}

q.archivist::before {
    content: 'Archivist: ';
}

q.ben::before {
    content: 'Ben: ' open-quote;
}

q.matt::before {
    content: 'Matt: ' open-quote;
}

q.roger::before {
    content: 'Roger: ' open-quote;
}

q.daniel::before {
    content: 'Daniel: ' open-quote;
}

q.koby::before {
    content: 'Koby: ' open-quote;
}

q.skip::before {
    content: 'Skip: ' open-quote;
}

q.talan::before {
    content: 'Talan: ' open-quote;
}

q.archivist::after {
    content: '';
}

.quote {
    margin-bottom: 1em;
}



/******************************************************************************
  PROPHECY CLASSES
******************************************************************************/
.prophecy {
    display: flex;
    max-width: 650px;
    margin-bottom: 1em;
}

.prophecy a {
    color: var(--color-white);
}

.prophecy a:hover {
    text-decoration: underline;
}

.prophecy header,
.prophecy .prediction,
.prophecy .veracity {
    flex-grow: 1;
    margin-bottom: 0;
    padding: 10px;
}

.prophecy header {
    border-radius: 7px 0 0 7px;
    color: var(--color-white);
    flex-basis: 10%;
}

.prophecy .host {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.prophecy .prediction,
.prophecy .veracity {
    background-color: var(--color-medium-grey);
    flex-basis: 45%;
}

.box .prophecy .prediction,
.box .prophecy .veracity {
    background-color: var(--color-black);
}

.prophecy .veracity {
    border-radius: 0 7px 7px 0;
}

.prophecy .veracity.true {
    background-color: var(--color-green);
}

.prophecy .veracity.false {
    background-color: var(--color-red);
}


/******************************************************************************
  REVIEW CLASSES
******************************************************************************/
.review {
    max-width: 300px;
}

.review header {
    background-color: var(--color-dark-grey);
    border-radius: 7px 7px 0 0;
    color: var(--color-white);
    text-align: center;
}

.review .rating {
    text-align: center;
    width: 50%;
}

.review div:first-of-type {
    border-radius: 0 0 0 7px;
    float: left;
}

.review div:last-of-type {
    border-radius: 0 0 7px 0;
    float: right;
}

.review q {
    border-radius: 5px 5px 0 0;
}

.episode-content .rating {
    margin-bottom: 0;
}

div[data-rating='yes']::after {
    content: '👍';
}

div[data-rating='no']::after {
    content: '👎';
}

div[data-rating='interested']::after {
    content: '🤔';
}

div[data-rating='uninterested']::after {
    content: '😴';
}

div[data-rating='dont-know']::after {
    content: '❓';
}



/******************************************************************************
  STATS CLASSES
******************************************************************************/
.hosts .card {
    margin-bottom: 2em;
}

.standalone-stat {
    margin-bottom: 2em;
}


/******************************************************************************
  MEDIA QUERIES
******************************************************************************/



/******************************************************************************
  PRINT STYLES
******************************************************************************/
