---
layout: baseNavBar
pageTitle: Seasons
---
<h1 class="is-size-2">Seasons</h1>

Season stats are through episode № {{ collections.episodes.length }}

{% set seasonlist = collections.seasons %}
{% include "seasonlist.njk" %}