---
layout: baseNavBar
pageTitle: Categories
---
<h1 class="is-size-2">Categories</h1>

Category data are through episode № {{ collections.episodes.length }}

{% set categorylist = collections.episodes[0].data.stats.categories %}
{% include "components/categoryList.njk" %}