---
layout: page
pageTitle: Prophecy
---

stats

<div class="prophecies">
{% for episode in collections.episodes %}

{% if episode.data.prophecy %}
<h2 class="is-size-3">№ {{episode.data.number}} {{episode.data.title}}</h2>

{% set prophecySet = episode.data.prophecy %}
{% include "_macros/prophecy.njk" %}

{% endif %}

{% endfor %}
</div>