---
layout: baseNavBar
pageTitle: Series
---
<h1 class="is-size-2">Series</h1>

Series data are through episode № {{ collections.episodes.length }}

{% set serieslist = collections.episodes[0].data.stats.series %}
{% include "components/seriesList.njk" %}