---
layout: baseNavBar
pageTitle: Series Indiv
permalink: series/series-indiv/index.html
---
<h1 class="is-size-2">{{ serieslist[0].name }}</h1>
<p>{{ serieslist[0].summary }}

{% set serieslist = collections.episodes[0].data.stats.series %}
{% include "components/seriesList.njk" %}