---
layout: baseNavBar
pageTitle: Style Guide
---
<div class="content">
Based off <a href="https://jenil.github.io/bulmaswatch/cyborg/">Bulma Swatch, Cyborg theme</a>



<h1 class="title">Colors</h1>
<div class="livedemo">
    <div class="swatches clearfix">
        {% swatch 'light', 'primary', 'SFC Blue - Nav bar, Links, Archivist' %}
        {% swatch 'dark', 'blue', 'Ben Blue' %}
        {% swatch 'dark', 'orange', 'Matt Orange' %}
        {% swatch 'dark', 'purple', 'Daniel Purple' %}
        {% swatch 'light', 'pink', 'Koby Pink' %}
    </div>
        
    <div class="swatches clearfix">
        <div class="swatch notification is-success">Success Green</div>
        <div class="swatch notification is-warning">Warning Yellow</div>
        <div class="swatch notification is-danger">Danger Red</div>
    </div>

    <div class="swatches clearfix">
        {% swatch 'dark', 'black', 'Black - Site Background, Text, Prophecies' %}
        {% swatch 'light', 'white', 'White - Text, Prophecies, Reviews' %}
        {% swatch 'dark', 'dark-grey', 'Dark Grey - Reviews' %}
        {% swatch 'dark', 'medium-grey', 'Medium Grey - Quotes, Prophecies' %}
    </div>
</div>



<h1 class="title is-1">Typography</h1>
<div class="livedemo">
    <p><abbr title="The Sci-Fi Christian Listener's Guide">SFCLG</abbr>
</div>

<div class="livedemo">
    <p><span class="glow">Glowing text</span> 
</div>

<div class="livedemo">
    <p>{% work "The Lord of the Rings" %}
</div>



<h2 class="title is-2">Links</h2>
<div class="livedemo">
    <p><a href="#">Blue Links</a> for body
</div>

<div class="livedemo">
    <p><a href="#" class="link-obvious">White Obvious Links</a> for nav, headers
</div>

<div class="livedemo">
    <p><a href="#" class="link-subtle">White Subtle Links</a> for nav, headers
</div>



<div class="livedemo">
    <h1 class="title is-1">Icons</h1>
    {% icon "rewind" %}
    {% icon "fast-forward" %}
    {% icon "book-open" %}
    {% icon "radio" %}
    {% icon "user" %}
    {% icon "database" %}
    {% icon "feather" %}
    {% icon "power" %}
    {% icon "arrow-left" %}
    {% icon "arrow-right" %}
    {% icon "search" %}
</div>



<h1 class="title is-1">Tables</h1>
<div class="livedemo">
    <table class="table is-striped">
    <thead>
        <tr>
        <th>Host</th>
        <th>Random Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Matt Anderson</td>
        <td class="number-column">5</td>
        </tr>
        <tr>
        <td>Ben De Bono</td>
        <td class="number-column">123456</td>
        </tr>
        <tr>
        <td>Koby Radcliffe</td>
        <td class="number-column">0</td>
        </tr>
        <tr>
        <td>Daniel Butcher</td>
        <td class="number-column">89</td>
        </tr>
    </tbody>
    </table>
</div>



<h1 class="title is-1">Quotes</h1>
<div class="livedemo">
    <div class="quote">
        <a class="timestamp tag is-medium is-rounded is-primary" href="/#t=1:23:45">1:23:45</a>
        <q class="ben">This is a quote with a timestamp.</q>
        <q class="matt">Hi!</q>
    </div>
</div>

<div class="livedemo">
    <div class="quote">
        <a class="timestamp tag is-medium is-rounded is-primary" href="/#t=1:23:45">1:23:45</a>
        <span class="quote-context is-size-6">This is a quote with a timestamp and long context</span>
        <q class="daniel">A long, wrapping quote that will go to at least two lines so we may observe how that displays. It must be quite long for those extra-wide monitors that some prefer in this day and age.</q>
        <q class="koby" data-action="*this is an action*">Hi!</q>
    </div>
</div>

<div class="livedemo">
    <div class="quote">
        <a class="timestamp tag is-medium is-rounded is-primary" href="/#t=1:23:45">1:23:45</a>
        <span class="quote-context is-size-6">This is a very long context to test how we handle wrapping contexts when they are very long contexts as this context is, for a long context that wraps must be styled as nicely as a context that does not wrap, unlike this context.</span>
        <q class="ben">A simple quote</q>
    </div>
</div>

<div class="livedemo">
    Some text in a paragraph.
    {% arc %}Replying to the paragraph.{% endarc %}
</div>

<div class="livedemo">
    <q data-name="Epictetus">It is impossible for anyone to begin to learn that which he thinks he already knows.</q>
    <q class="matt">Very true</q>
</div>

<div class="livedemo">
    <div class="quote">
        <span class="quote-source is-size-6">The Hobbit</span>
        <q data-name="J. R. R. Tolkien">In a hole in the ground there lived a hobbit.</q>
    </div>
</div>

<div class="livedemo">
    <blockquote>
        <p>All you've been saying is quite right, I shouldn't wonder. I'm a chap who always liked to know the worst and then put the best face I can on it. So I won't deny any of what you said. But there's one thing more to be said, even so. Suppose we have only dreamed, or made up, all those things--trees and grass and sun and moon and stars and Aslan himself. Supose we have. Then all I can say is that, in that case, the made-up things seem a good deal more important than the real ones. Suppose this black pit of a kingdom of yours is the only world. Well, it strikes me as a pretty poor one. And that's a funny thing, when you come to think of it. We're just babies making up a game, if you're right. But four babies playing a game can make a play-world which licks your real world hollow. That's why I'm going to stand by the play-world. I'm on Aslan's side even if there isn't any Aslan to lead it. <em>I'm going to live as like a Narnian as I can even if there isn't any Narnia.</em></p>
        <cite>Puddleglum, {% work "The Silver Chair" %}</cite>
    </blockquote>
</div>

<div class="livedemo">
    Some text followed by inline quotes {% arc %}Hi!{% endarc %} <q class="ben inline">Hello!</q> <q class="matt inline">Hey!</q>
</div>



<h1 class="title is-1">Top 5 Lists</h1>
<div class="livedemo">
    <div class="top-five">
    <h2 class="has-text-centered">Top 5 Random Things</h2>
    <div class="columns">
        <div class="column ben">
        <h3>Ben</h3>
        <ol reversed>
            <li>Horses
            <li>Tea kettles
            <li>Rocket ships
            <li>Dreams
            <li>Stone plinths
        </ol>
        <ul class="runner-ups">
            <li>Acrylic plinths
            <li>Platinum plinths
        </ul>
        </div>
        <div class="column matt">
        <h3>Matt</h3>
        <ol reversed>
            <li>The number 5
            <li>The color mauve
            <li>The feeling of despair
            <li>A cool wind on a clear day
            <li>The smell of what sandpaper feels like
        </ol>
        <ul class="runner-ups">
            <li>Turtles
        </ul>
        </div>
    </div>
    </div>
</div>



<h1 class="title is-1">Categories</h1>
<div class="livedemo">
    {% for category in ['Countdown', 'Feedback', 'Literature', 'Main Topic', 'News', 'Philosophy', 'Review', 'Theology', 'Special', 'Clip Show'] %}
    <p class="title category-{{category | slug}}">{{category}}</p>
    {% endfor %}
</div>

</div>