---
layout: page
pageTitle: Time Loops and Visits
---

<div id="chart-tag-season-timeloops" class="sfc-chart sfc-stacked-bar-chart sfc-stacked-bar-chart-timeloops"></div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    let chartContainer = document.getElementById('chart-tag-season-timeloops');

    let bodyStyles = getComputedStyle(document.body);
    let timeloopsColor = bodyStyles.getPropertyValue('--color-primary');
    let visitsColor = bodyStyles.getPropertyValue('--color-purple');
    let colors = [timeloopsColor, visitsColor, bodyStyles.getPropertyValue('--color-dark-grey')];

    let options = {
      barMargin: 10,
      barHeight: 120,
      barWidth: 32,
      colors: colors,
      chartHeight: 150,
      labelFontSize: 24,
      legend: [{'title': 'Time Loops', 'color': timeloopsColor}, {'title': 'Visits', 'color': visitsColor}]
    };

    sfcChart.createStackedBarChart(
        chartContainer, {{collections.seasons[0].data.stats.timeloopVisitsChart | dump}}, options);
  });
</script>



<h2 class="title is-3">Time Loops</h2>

<table class="table is-striped">
    <thead>
      <tr>
        <th>Time Loop</th>
        <th>Original</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="/episodes/0046-the-sfc-time-loop-interview-with-ck-kubasik/">№ 46 The SFC Time Loop – Interview with C.K. Kubasik</a></td>
        <td><a href="/episodes/0027-c-k-kubasik-interview/">№ 27 C.K. Kubasik Interview</a></td>
      </tr>
      <tr>
        <td><a href="/episodes/0065-the-sfc-time-loop-happy-sci-fi-fathers-day">№ 65 The SFC Time Loop – Happy Sci-Fi Father’s Day!</a></td>
        <td><a href="/episodes/0021-sci-fi-fathers/">№ 21 Sci-Fi Fathers</td>
      </tr>
      <tr>
        <td><a href="/episodes/0077-the-sfc-time-loop-the-dark-knight-on-trial">№ 77 The SFC Time Loop – The Dark Knight On Trial</a></td>
        <td><a href="/episodes/0003-the-dark-knight-on-trial/">№ 3 The Dark Knight On Trial</a></td>
      </tr>
      <tr>
        <td><a href="/episodes/0087-the-sfc-time-loop-cloning-and-the-transfer-of-consciousness">№ 87 The SFC Time Loop – Cloning and the Transfer of Consciousness</a></td>
        <td><a href="/episodes/0009-attack-of-the-clones">№ 9 Attack of the Clones</a></td>
      </tr>
      <tr>
        <td><a href="/episodes/0095-the-sfc-time-loop-the-lord-of-the-rings-trilogy">№ 95 The SFC Time Loop – The Lord of the Rings Trilogy</a></td>
        <td><a href="/episodes/0023-lord-of-the-rings/">№ 23 Lord of the Rings</a></td>
      </tr>
      <tr>
        <td><a href="/episodes/0125-the-sfc-time-loop-is-the-existence-of-aliens-compatible-with-a-biblical-worldview">№ 125 The SFC Time Loop – Is the Existence of Aliens Compatible with a Biblical Worldview?</a></td>
        <td><a href="/episodes/0002-i-want-to-believe/">№ 2 I Want to Believe</a></td>
      </tr>
      <!-- <tr>
        <td>№ 138</td>
        <td><a href="/episodes/0018-the-multiverse-notes-from-the-other-side/">№ 18 The Multiverse – Notes From The Other Side</a></td>
      </tr>
      <tr>
        <td>№ 149</td>
        <td><a href="/episodes/0001-pilot/">№ 1 Pilot</a></td>
      </tr>
      <tr>
        <td>№ 158</td>
        <td><a href="/episodes/0022-the-comics-continuity-conundrum/">№ 22 The Comics Continuity Conundrum</a></td>
      </tr>
      <tr>
        <td>№ 178</td>
        <td><a href="/episodes/0012-the-search-for-sasquatch/">№ 12 The Search For Sasquatch</a></td>
      </tr>
      <tr>
        <td>№ 193</td>
        <td><a href="/episodes/0019-apocalypse-now/">№ 19 Apocalypse Now</a></td>
      </tr>
      <tr>
        <td>№ 201</td>
        <td><a href="/episodes/0016-ghosts-and-god/">№ 16 Ghosts and God</a></td>
      </tr>
      <tr>
        <td>№ 227</td>
        <td><a href="/episodes/0007-horror-and-faith-aka-zombie-jesus/">№ 7 Horror and Faith (AKA Zombie Jesus)</a></td>
      </tr>
      <tr>
        <td>№ 258</td>
        <td><a href="/episodes/0006-the-state-of-the-superhero-movie/">№ 6 The State of the Super Hero Movie</a></td>
      </tr>
      <tr>
        <td>№ 269</td>
        <td><a href="/episodes/0011-top-5-superpowers/">№ 11 Top 5 Superpowers</a></td>
      </tr>
      <tr>
        <td>№ 288</td>
        <td><a href="/episodes/0032-lost-part-1/">№ 32 LOST Part 1</a>, <a href="/episodes/0034-lost-part-2/">№ 34 LOST Part 2</a></td>
      </tr>
      <tr>
        <td>№ 369</td>
        <td><a href="/episodes/0033-the-divine-time-machine/">№ 33 The Divine Time Machine</a></td>
      </tr>
      <tr>
        <td>№ 379</td>
        <td><a href="/episodes/0010-duel-of-the-fates/">№ 10 Duel of the Fates</a></td>
      </tr>
      <tr>
        <td>№ 380</td>
        <td><a href="/episodes/0026-its-time-for-sci-fi-news/">№ 26 It’s Time For Sci-Fi News</a></td>
      </tr>
      <tr>
        <td>№ 413</td>
        <td><a href="/episodes/0008-sci-fi-moves-we-hate-hate-hate/">№ 8 Sci-Fi Movies We HATE HATE HATE!</a></td>
      </tr>
      <tr>
        <td>№ 435</td>
        <td><a href="/episodes/0004-tolkien-vs-lewis-the-ultimate-smackdown/">№ 4 Tolkien Vs. Lewis – The Ultimate Smackdown</a></td>
      </tr>
      <tr>
        <td>№ 497</td>
        <td><a href="/episodes/0025-top-5-sam-and-frodo-messianic-moments/">№ 25 Top 5 Sam &amp; Frodo Messianic Moments</a></td>
      </tr>
      <tr>
        <td>№ 584</td>
        <td><a href="/episodes/0005-top-5-messciahs/">№ 5 Top 5 MesSCIahs</a></td>
      </tr> -->
    </tbody>
  </table>



<h2 class="title is-3">Visits</h2>
<h2 class="subtitle is-5">Appearances on other podcasts</h2>

<table class="table is-striped">
    <thead>
      <tr>
        <th>Episode</th>
        <th>Original</th>
      </tr>
    </thead>
    <tbody>
      {% for episode in collections.visits %}
      <tr>
        <td><a href="{{episode.url}}">{{episode.displayTitle}}</a></td>
        <td>{{episode.visit | safe}}</td>
      </tr>
      {% endfor %}
      <!--
      <tr>
        <td><a href="/episodes/0043-star-wars/">№ 43 Star Wars</a></td>
        <td>Life Report № 0 (practice episode 1)</td>
      </tr>
      <tr>
        <td><a href="/episodes/0053-joss-whedon-talk/">№ 53 Joss Whedon Talk</a></td>
        <td>Life Report № 0.5 (practice episode 2)</td>
      </tr>
      <tr>
        <td><a href="/episodes/0066-knowing-god-as-father/">№ 66 Knowing God as Father</a></td>
        <td>Epic Life sermon from The Life Report</td>
      </tr>
       <tr>
        <td>№ 202</td>
        <td>video</td>
      </tr>
      <tr>
        <td>№ 240</td>
        <td>video</td>
      </tr>
      <tr>
        <td>№ 256</td>
        <td>video</td>
      </tr>
      <tr>
        <td>№ 293</td>
        <td>clips of previous eps</td>
      </tr>
      <tr>
        <td>№ 299</td>
        <td>video</td>
      </tr>
      <tr>
        <td>№ 354</td>
        <td>video</td>
      </tr> -->
    </tbody>
</table>