---
layout: page
pageTitle: Categories
---
<div class="columns">
    <div class="column is-half">
        {% set categorylist = collections.episodes[0].data.stats.categories %}
        {% include "components/categoryList.njk" %}
    </div>
</div>