<p class="control episode-filter">
    <label class="radio is-size-4">
        <input type="radio" name="episodefilter" id="all" checked> All
    </label>
    <label class="radio is-size-4">
        <input type="radio" name="episodefilter" id="essential"> Essential
    </label>
    <label class="radio is-size-4">
        <input type="radio" name="episodefilter" id="listen"> Listen
    </label>
    <label class="radio is-size-4">
        <input type="radio" name="episodefilter" id="skip"> Skip
    </label>
</p>