<footer class="footer columns">
    <div class="column has-text-left">
        <p>
            {% set icon_name = 'user' %}
            {% include "_macros/icon.njk" %}
            &nbsp;
            Created by The Archivist
        </p>
        <p>
            {% set icon_name = 'database' %}
            {% include "_macros/icon.njk" %}
            &nbsp;
            Built with <a href="https://www.11ty.io/">Eleventy</a>, <a href="https://bulma.io/">Bulma</a>, <a href="https://jenil.github.io/bulmaswatch/">Bulma Swatch</a>, and <a href="https://feathericons.com/">
            {% set icon_name = 'feather' %}
            {% include "_macros/icon.njk" %} Feather Icons</a>
        </p>
        <p>
            {% set icon_name = 'power' %}
            {% include "_macros/icon.njk" %}
            &nbsp;
            Powered by a flux capacitor and squirrels
        </p>
    </div>
    <div class="column has-text-right">Copyright © {{'year' | today}} The Sci-Fi Christian</div>
</footer>