<footer class="footer columns">
    <div class="column has-text-left">
        <p>Created by The Archivist</p>
        <p>Built with <a href="https://www.11ty.io/">Eleventy</a>, <a href="https://bulma.io/">Bulma</a>, <a href="https://jenil.github.io/bulmaswatch/">Bulma Swatch</a>, and <a href="https://feathericons.com/">Feather Icons</a></p>
        <p>Powered by a flux capacitor and squirrels</p>
    </div>
    <div class="column has-text-right">Copyright © {{'year' | today}} The Sci-Fi Christian</div>
</footer>