<footer class="footer columns">
    <div class="column has-text-left">
        <p>Built and maintained by The Archivist</p>
        <p>Powered by a flux capacitor and squirrels</p>
    </div>
    <div class="column has-text-right">Copyright © The Sci-Fi Christian</div>
</footer>