<header class="navbar is-primary">
    <h1 class="navbar-brand">
        <span class="navbar-item">
            <img src="/img/theo-logo-flat.png">
        </span>
        <a class="navbar-item is-size-3" href="/">
            {{ metadata.title }}
        </a>
        <div class="navbar-burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </h1>
    <nav id="navMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">Home</a>
            <a class="navbar-item" href="/episodes/">Episodes</a>
            {# <a href="/">Awards</a>#}
            <a class="navbar-item" href="/stats">Stats</a> 
            <a class="navbar-item" href="/about/">About</a>
        </div>
    </nav>
</header>