<a class="navbar-item" href="/">Home</a>
<a class="navbar-item" href="/episodes/">Episodes</a>
{# <a href="/">Awards</a>#}
<a class="navbar-item" href="/stats">Stats</a> 
<a class="navbar-item" href="/prophecy">Prophecy</a>
<a class="navbar-item" href="/firsts">Firsts</a>
<a class="navbar-item" href="/about/">About</a>