<div class="field has-addons">
	<p class="control has-icons-left">
		<input type="search" id="searchbar" class="input is-large search-bar" placeholder="Search episodes">
		<span class="icon is-small is-left">
			<svg class="feather">
				<use xlink:href="/img/feather-sprite.svg#search"/>
			</svg>
		</span>
	</p>
	<p class="control">
		<button type="submit" id="searchbutton" class="button is-primary is-large" disabled>Search</button>
	</p>
</div>
<div id="searchfilled">
	<ol id="searchresults" class="search-results content"></ol>
</div>
<div id="searchempty" style="display:none;">
	<p>No results found
</div>
<div id="searchshort" style="display:none;">
	<p>Your search must be at least 4 characters
</div>