<div class="columns">
<div class="column is-half">
	<div class="season-list">
		{% for season in seasonlist %}
		<div class="card season-card">
			<header class="card-header">
				<p class="card-header-title">
					<a href="/seasons/{{ season.data.seasonNumber }}">Season {{ season.data.seasonNumber }}</a>
				</p>
			</header>
			<div class="card-content content">
				{{ season.data.summary | safe }}
				<div class="level season-stats">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Year</p>
							<p class="title">{{season.data.year}}</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Episodes</p>
							<p class="title">{{season.data.count}}</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Time Loops</p>
							<p class="title">{{season.data.timeloops}}</p>
						</div>
					</div>
				</div>
			</div>
			<footer class="card-footer">
				{% set first = season.data.first %}
				{% set last = season.data.last %}
				{% include "_macros/rangeCardFooterItems.njk" %}
			</footer>
		</div>
		{% endfor %}
	</div>
</div>
</div>