<div class="columns">
<div class="column is-half">
	<div class="season-list">
		{% for season in seasonlist %}
		<div class="card season-card">
			<header class="card-header">
				<p class="card-header-title">
					<a href="/seasons/{{ season.data.seasonNumber }}">Season {{ season.data.seasonNumber }}</a>
				</p>
			</header>
			<div class="card-content content">
				{{ season.data.summary | safe }}
				<div class="level season-stats">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Year</p>
							<p class="title">{{season.data.year}}</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Episodes</p>
							<p class="title">{{season.data.count}}</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Time Loops</p>
							<p class="title">{{season.data.timeloops}}</p>
						</div>
					</div>
				</div>
			</div>
			<footer class="card-footer">
				<a href="{{ season.data.first.url }}" class="card-footer-item">
					{% set icon_name = 'rewind' %}
					{% include "_macros/icon.njk" %}
					&nbsp;
					№ {{season.data.first.number}} {{season.data.first.title}}
				</a>
				<a href="{{ season.data.last.url }}" class="card-footer-item">
					№ {{season.data.last.number}} {{season.data.last.title}}
					&nbsp;
					{% set icon_name = 'fast-forward' %}
					{% include "_macros/icon.njk" %}
				</a>
			</footer>
		</div>
		{% endfor %}
	</div>
</div>
</div>