---
layout: baseNavBar
pageTitle: Hiatus Countdowns
---
<h1 class="is-size-2">Hiatus Countdowns</h1>
<table class="table is-striped">
    <thead>
    <tr>
        <th>Countdown</th>
        <th>Year</th>
        <th>Episodes</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th><a href="/hiatus-countdowns/tv-shows-2013">Top 50 TV Shows</a></th>
        <th><a href="/seasons/3">2013</a></th>
        <th><a href="/series/tv-show-countdown-2013/">Episodes</a></th>
    </tr>
    </tbody>
</table>