---
layout: baseNavBar
pageTitle: Hiatus Countdowns
countdowns:
  - title: Top 50 TV Shows
    slug: tv-shows-2013
    season: 3
    year: 2013
    series: tv-show-countdown-2013
    range: 179-185
---
<h1 class="is-size-2">Hiatus Countdowns</h1>
<table class="table is-striped">
    <thead>
    <tr>
        <th>Countdown</th>
        <th>Year</th>
        <th>Episode List</th>
    </tr>
    </thead>
    <tbody>
    {% for countdown in countdowns %}
    <tr>
        <td><a href="/hiatus-countdowns/{{countdown.slug}}">{{countdown.title}}</a></td>
        <td><a href="/seasons/{{countdown.season}}">{{countdown.year}}</a></td>
        <td><a href="/series/{{countdown.series}}/">{{countdown.range}}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>