{# {% set review = {
    "title": "",
    "hosts": [{"name": "", "rating": ""}]
} %}  #}
<div class="review clearfix is-size-4">
  <header>{{review.title}}</header>
  {% for host in review.hosts %}
  <div class="rating {{host.name | slug}}" data-rating="{{(host.rating or '') | replace('\'', '') | slug}}" title="{{host.rating}}">&hairsp;</div>
  {% endfor %}
</div>