<div class="columns episode-filter-container">
    <div class="column is-11">
        <div class="navbar episode-filter">
            <nav class="navbar-menu is-active">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <label class="radio is-size-4">
                            <input type="radio" name="episodefilter" id="all" checked> All
                        </label>
                    </div>
                    <div class="navbar-item">
                        <label class="radio is-size-4">
                            <input type="radio" name="episodefilter" id="essential"> Essential
                        </label>
                    </div>
                    <div class="navbar-item">
                        <label class="radio is-size-4">
                            <input type="radio" name="episodefilter" id="listen"> Listen
                        </label>
                    </div>
                    <div class="navbar-item">
                        <label class="radio is-size-4">
                            <input type="radio" name="episodefilter" id="skip"> Skip
                        </label>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div class="column is-1">
        <div class="sort-button-container">
            <svg id="sortEpisodes" class="feather feather-button is-large">
                <use id="sortEpisodesIcon" xlink:href="/img/feather-sprite.svg#chevrons-down"/>
            </svg>
        </div>
    </div>
</div>