<footer class="footer columns">
    <div class="column has-text-left">
        <p>
            {% set icon_name = 'user' %}
            {% include "macros/icon.njk" %}
            &nbsp;
            Created by <a href="mailto:archivist@sfc.blue" class="link-subtle">The Archivist</a>
        </p>
        <p>
            {% set icon_name = 'database' %}
            {% include "macros/icon.njk" %}
            &nbsp;
            Built with <a href="https://www.11ty.io/" class="link-subtle">Eleventy</a>, <a href="https://bulma.io/" class="link-subtle">Bulma</a>, <a href="https://jenil.github.io/bulmaswatch/" class="link-subtle">Bulma Swatch</a>, and <a href="https://feathericons.com/" class="link-subtle">
            {% set icon_name = 'feather' %}
            {% include "macros/icon.njk" %} Feather Icons</a>
        </p>
        <p>
            {% set icon_name = 'power' %}
            {% include "macros/icon.njk" %}
            &nbsp;
            Powered by a flux capacitor and squirrels
        </p>
    </div>
    <div class="column has-text-right">Copyright © {{'year' | today}} The Sci-Fi Christian and The Archivist</div>
</footer>