<section class="hero is-primary">
    <div class="hero-head">
        <header class="navbar is-primary">
            <h1 class="navbar-brand">
                <span class="navbar-item">
                    {% include "partials/siteLogo.njk" %}
                </span>
                <div class="navbar-burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </h1>
            <nav id="navMenu" class="navbar-menu">
                <div class="navbar-end">
                    {% include "components/navLinks.njk" %}
                </div>
            </nav>
        </header>
    </div>
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ metadata.title }}</h1>
            <h2 class="subtitle">{{ metadata.subtitle }}</h2>
        </div>
    </div>
</section>