<a class="navbar-item" href="/">Home</a>
<a class="navbar-item" href="/episodes/">Episodes</a>
<a class="navbar-item" href="/seasons/">Seasons</a>
<div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link is-active" href="#">More</a>
    <div class="navbar-dropdown ">
        <a class="navbar-item" href="/categories">Categories</a>
        <a class="navbar-item" href="/firsts">Firsts</a>
        <a class="navbar-item" href="/hosts">Hosts</a>
        <a class="navbar-item" href="/prophecy">Prophecy</a>
        <a class="navbar-item" href="/series">Series</a>
        <a class="navbar-item" href="/stats">Stats</a>
        <a class="navbar-item" href="/take-that">Take That!</a>
        <a class="navbar-item" href="/time-loops">Time Loops</a>
    </div>
</div>
<a class="navbar-item" href="/about/">About</a>