---
layout: baseNavBar
pagination:
  data: collections.series
  size: 1
  alias: series
permalink: /series/{{ series }}/
pageTitle: Series
---

<h1 class="is-size-2">{{series | seriesName}}</h1>
<p class="series-description">{{series | seriesDescription}}</p>
<div class="episode-list">
    <div class="columns">
        <div class="column is-half">
            {% set episodelist = collections.episodes | seriesFilter(series) | reverse %}
            {% include "components/episodeList.njk" %}
        </div>
    </div>
</div>