<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% if number %}№ {{number}} {{title}} · {% elif title %} {{title}} · {% elif pageTitle %} {{pageTitle}} · {% endif %} {{ metadata.title }}</title>
        <meta name="description" content="The unofficial listener's guide to The Sci-Fi Christian Podcast, hosted by Ben de Bono and Matt Anderson">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/main.css" rel="stylesheet" type="text/css">
        <link href="/css/custom.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700,700i" rel="stylesheet">

        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#41c6e7">
        <meta name="msapplication-TileColor" content="#41c6e7">
        <meta name="theme-color" content="#41c6e7">
    </head>
    <body>
        <div class="section">
            {{ layoutContent | safe }}
            
            {% include "footer.njk" %}
        </div>

        <script src="/js/lunr.js"></script>
        {% include "sitejs.njk" %}
    </body>
</html>