<nav class="columns episode-nav">
    <div class="column">
        <div class="tabs is-fullwidth">
            {% if previous.url %}
            <ul>
                <li>
                    <a href="{{ previous.url }}">
                        {% set icon_name = 'arrow-left' %}
                        {% include "_macros/icon.njk" %}
                        &nbsp;
                        Previous
                    </a>
                </li>
                {# <li><a href="{{ '/' }}">← Previous in Series</a></li> #}
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="tabs is-fullwidth">
            {% if next.url %}
            <ul>    
                {# <li><a href="{{ '/' }}">Next in Series →</a></li> #}
                <li>
                    <a href="{{ next.url }}">
                        Next
                        &nbsp;
                        {% set icon_name = 'arrow-right' %}
                        {% include "_macros/icon.njk" %}
                    </a>
                </li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>