---
layout: layouts/base.njk
---
<h1 class="episode-title">№ {{number}} {{ title }}</h1>

<header class="episode-header">
    <a href="{{podcast_url}}">🎙️</a> &nbsp;&nbsp;·&nbsp;&nbsp; {{date | readableDate}} &nbsp;&nbsp;·&nbsp;&nbsp; {{ hosts | join(", ") }}
    
    <div class="category-{{category | slug}}">
        Category: {{category}}
    </div>
    
    {% if series %}
    <div class="series">
        Series: {{series}}
    </div>
    {% endif %}

    {% if time_loop_forward %}
    <div class="time-loop-forward">
        (Time Looped in № {{time_loop_forward}})
    </div>
    {% endif %}

    {% if time_loop_backward %}
    <div class="time-loop-backward">
        Time Loop of № {{time_loop_backward}}
    </div>
    {% endif %}
</header>

<div class="recommendation-container">
    <h2>Recommendation</h2>
    <div class="recommendation {{recommendation}}">
    {% if recommendation == 'yes' %}
        Listen
    {% elif recommendation == 'yes-timeloop' %}
        Listen to Timeloop (Episode {{time_loop_forward}})
    {% elif recommendation == 'essential' %}
        Essential
    {% elif recommendation == 'no' %}
        Skip
    {% endif %}
    </div>

    <div class="recommendation-reason">{{recommendation_reason}}</div>
    <div class="last-listen">
        Archivist last listen {{last_listen | readableDate}}
    </div>
</div>

{% if notable_moments %}
<div class="notable-moments-container">
    <h2>Notable Moments</h2>
    <ul class="notable-moments">
    {% for moment in notable_moments %}
        <li>{{moment}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if firsts %}
<div class="firsts-container">
    <h2>Firsts</h2>
    <ul class="firsts">
    {% for first in firsts %}
        <li>{{first}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if prophecy %}
<div class="prophecies-container">
    <h2>Prophecy</h2>
    <div class="prophecies">
    {% for prediction in prophecy %}
        <div class="prophecy {{prediction.host}}">
            <span class="host">{{prediction.host}}</span>: <span class="prediction">{{prediction.prophecy}}</span>
        </div>
        <div class="veracity {{prediction.veracity}}">
            {{prediction.veracity | string | title}}: {{prediction.comments}}
        </div>
    {% endfor %}
    </div>
</div>
{% endif %}

{% if future_episodes %}
<div class="future-episodes-container">
    <h2>Future Episodes</h2>
    <ul class="future-episodes">
    {% for episode in future_episodes %}
        <li>{{episode}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

{% if celebrity_invites %}
<div class="celebrity-invites-container">
    <h2>Celebrity Invites</h2>
    <ul class="celebrity-invites">
    {% for invite in celebrity_invites %}
        <li>{{invite}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<article class="episode-content">
{{ layoutContent | safe }}
</article>

{% if archivist_note %}
<div class="archivist-note">
    <h2>Archivist Note</h2>
    
    <p>{{archivist_note}}</p>
</div>
{% endif %}

<nav class="episode-nav">
    {% if previous.url %}
    <a href="{{ previous.url }}">← Previous</a>
    {% endif %}
    
    <a href="{{ '/' }}">← Previous in Series</a>
    
    {% if next.url %}
    <a href="{{ next.url }}">Next →</a>
    {% endif %}
    
    <a href="{{ '/' }}">Next in Series →</a>
</nav>