---
layout: baseNavBar
---
<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1">Season {{seasonNumber}}: {{title}}</h1>
            <h2 class="subtitle is-5">{{tagline}}<br>№ {{first.number}}-{{last.number}}</h2>
        </div>
    </div>
    <div class="hero-foot">
        <div class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Year</p>
                    <p class="title">{{year}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Episodes</p>
                    <p class="title">{{count}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Time Loops</p>
                    <p class="title">{{timeloops}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Essential</p>
                    <p class="title">{{ counts.essential }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Listen</p>
                    <p class="title">{{ counts.yes }}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">Skip</p>
                    <p class="title">{{ counts.no }}</p>
                </div>
            </div>
        </div>
    </div> 
</section>

<div class="content">
    <article class="season-content">
    {{ layoutContent | safe }}
    </article>
</div>

<nav class="columns season-nav">
    <div class="column">
        <div class="tabs is-fullwidth">
            {% if previousSeason %}
            <ul>
                <li><a href="/seasons/{{ previousSeason }}">← Season {{ previousSeason }}</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
    <div class="column">
        <div class="tabs is-fullwidth">
            {% if nextSeason %}
            <ul>    
                <li><a href="/seasons/{{ nextSeason }}">Season {{ nextSeason }} →</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>